--extra-index-url https://download.pytorch.org/whl/cu126

torch==2.8.0+cu126
torchvision==0.23.0+cu126

pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
-f https://data.pyg.org/whl/torch-2.8.0+cu126.html

torch-geometric>=2.6.1
pyyaml>=6.0.2
hydra-core>=1.3.2
hydra-optuna-sweeper>=1.2.0
wandb
pandas>=2.3.0
ogb>=1.3.6
mpl-tools
seaborn
scikit-learn